h1 {
    display: flex;
    justify-content: center;
}

#userInput{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#title{
    display: flex;
    margin: 0px 10px;
}

#author{
    display: flex;
    margin: 0px 10px;
}

#pages{
    display: flex;
    margin: 0px 10px;
}

#readBox{
    display: flex;
    margin: 3px 10px 0px 10px;
}

#submit {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: 15px;
}

#submitBtn {
    font-weight: bold;
}

#bookcase {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 200px;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.book:hover {
    box-shadow: 0 0 1px 1px black;
}

.title {
    font-size: 20px;
    margin: 10px;
}

.author {
    font-size: 20px;
    margin: 10px;
}

.pages {
    font-size: 15px;
    margin: 10px;
}

.readLabel {
    font-size: 15px;
}

#removeBtn:hover {
    color: red;
    border-color: red;
}

#removeBtn {
    font-size: 20px;
    height: 40px;
    width: 40px;
    margin: 10px;
    border-radius: 50%;
}
